
body {
    background-color: #2c2c2c; 
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


h1 {
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}


h2 {
    font-size: 1.5em;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}





tbody td {
    background-color: #3a3a3a;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555555;
}



tbody td:hover {
    background-color: #505050;
    cursor: pointer;
}




td, th {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


td:hover {
    background-color: rgb(242, 22, 22);
}


td:active, th:active {
    background-color: #0fc141; 
    color: white;
}


td:first-child {
    background-color: #f00f13; 
}


th:first-child{
    background-color: #0fc141;
}